div {
  height: 500px;
  width: 500px;
  font-size: 100px;
  text-align: center;
  background-color: palevioletred;
  text-transform: uppercase;
}

div:hover {
  color: skyblue;
  background-color: white;
  transition-duration: 3s;
}

img {
  height: 100%;
  width: 500px;
}
